numpy==1.24.3
tqdm==4.65.0
scikit-learn==1.2.2
h5py==3.8.0
gdown==4.7.1
pandas==2.0.2
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
-f https://data.pyg.org/whl/torch-2.8.0+cu126.html
torch_geometric
pyg_lib 
torch_scatter 
torch_sparse 
torch_cluster 
torch_spline_conv